<div *ngIf="movie">
  <h1>Add a review for {{ movie.title }} </h1>  
    <div>
      <form (submit)="newRating(movie._id)">
        <div class ="form-group">
          <label for="newreview.name">Name: </label>
          <div>
            <input type="text" name="newreview.name" [(ngModel)]="newreview.name" required minlength='3' #moviename="ngModel" />
            <p *ngIf="moviename.errors">Name is Required (3 characters minimum)</p>
            <p *ngIf="errors.name"> {{errors.name.message}}</p>
          </div>
        </div>
        <div class = "form-group">
         <label for="newreview.rating">Rating: </label>
          <p>
           <select name="newreview.rating" [(ngModel)]="newreview.rating">
             <option value="5">★★★★★</option>
             <option value="4">★★★★☆</option>
             <option value="3">★★★☆☆</option>
             <option value="2">★★☆☆☆</option>
             <option value="1">★☆☆☆☆</option>
           </select>
          </p>
        </div>
        <div class = "form-group">
         <label for="newreview.comment">Comment here: </label>
          <div>
           <textarea name="newreview.comment" [(ngModel)]="newreview.comment" cols=50 rows=5 required minlength='3' #moviecomment="ngModel"></textarea>
           <p *ngIf="moviecomment.errors">Comment is Required (10 characters minimum)</p>
           <p *ngIf="errors.comment"> {{errors.comment.message}}</p>
          </div>
        </div>
         <input type="submit" value="Submit" class="btn btn-success"/>
         <a [routerLink]="['/']"><button class="btn btn-primary">Cancel</button></a>
      </form>
    </div>
  </div>